.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav-list {
  margin-top: 70px;
}

.sidenav-list-item {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.sidenav-list-item span {
  vertical-align: top;
  margin-right: 15px;
}

.sidenav-list-item mat-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.body-content {
  margin-top: 64px;
  margin-left: 100px;
  padding: 20px;
}
