<mat-sidenav-container
  class="sidenav-container mat-typography"
  autosize
  hasBackdrop="false"
>
  <mat-sidenav #drawer class="drawer" mode="over" opened="true">
    <mat-nav-list class="sidenav-list">
      <mat-list-item class="sidenav-list-item">
        <mat-icon>person</mat-icon>
        <span *ngIf="isExpanded">Management A</span>
      </mat-list-item>
      <mat-divider class="sidenav-divider"></mat-divider>
      <mat-list-item class="sidenav-list-item">
        <mat-icon>assignment</mat-icon>
        <span mat-line *ngIf="isExpanded">Management B</span></mat-list-item
      >
      <mat-divider class="sidenav-divider"></mat-divider>
      <mat-list-item class="sidenav-list-item">
        <mat-icon>domain</mat-icon>
        <span mat-line *ngIf="isExpanded">Management C</span></mat-list-item
      >
      <mat-divider class="sidenav-divider"></mat-divider>
      <mat-list-item class="sidenav-list-item">
        <mat-icon>folder</mat-icon>
        <span mat-line *ngIf="isExpanded">Management X</span></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- page content/router -->
  <mat-sidenav-content>
    <div class="body-content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
