.header-spacer {
  flex: 1 1 auto;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 5px 16px 5px 0px;
}

span.pointer.header-title {
  font-size: 28px;
  margin-left: 20px;
}
