<mat-toolbar color="primary" class="header-fixed">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="pointer" [routerLink]="['/pages/home']">Amulek Admin</span>
    <span class="header-spacer"></span>
    <button
      mat-icon-button
      [routerLink]="['/pages/admin/settings']"
      title="settings"
      aria-label="icon-button with settings icon"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      mat-icon-button
      title="logout"
      [matMenuTriggerFor]="actionMenu"
      aria-label="icon-button with logout icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <!-- <button mat-menu-item>
        <mat-icon>settings_applications</mat-icon>
        <span>Settings</span>
      </button> -->
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
