/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900),
      accent: mat.define-palette(mat.$teal-palette, 500, 200, 700),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$teal-palette, 500, 200, 700),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

@include mat.all-component-colors($angular-default-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

html,
body {
  height: 100%;
  background-color: #efefef;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

app-sidebar {
  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav-list {
    margin-top: 70px;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: 50px;
  }

  mat-list-item.mat-mdc-list-item.mdc-list-item.sidenav-list-item.mat-mdc-list-item-interactive.mdc-list-item--with-leading-icon.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    padding: 0;
  }

  .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
    align-self: center;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  span.sidenav-list-item-name {
    padding-right: 15px;
  }

  .body-content {
    margin-top: 64px;
    margin-left: 100px;
    padding: 20px;
  }
}

app-user.shape-round .user-picture {
  border-radius: 50%;
}

app-user.size-medium .initials,
app-user.size-medium .user-name,
app-user.size-medium .user-title {
  font-size: 0.7375rem;
  line-height: 1rem;
}

app-user.size-medium .user-picture {
  height: 2.5rem;
  width: 2.5rem;
}

app-user .user-picture {
  background-color: transparent;
  border: 1px solid #1f1f1f;
}
