/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900),
      accent: mat.define-palette(mat.$teal-palette, 500, 200, 700),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$teal-palette, 500, 200, 700),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

@include mat.all-component-colors($angular-default-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

mat-card {
  margin-bottom: 20px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-column-actions {
  flex: 0 0 60px;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pointer {
  cursor: pointer;
}

app-sidebar {
  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav-list {
    margin-top: 70px;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: 50px;
  }

  mat-list-item.mat-mdc-list-item.mdc-list-item.sidenav-list-item.mat-mdc-list-item-interactive.mdc-list-item--with-leading-icon.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    padding: 0;
  }

  .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
    align-self: center;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  span.sidenav-list-item-name {
    padding-right: 15px;
  }

  .body-content {
    margin-top: 64px;
    margin-left: 50px;
    padding: 20px;
  }
}

app-user.shape-round .user-picture {
  border-radius: 50%;
}

app-user.size-medium .initials,
app-user.size-medium .user-name,
app-user.size-medium .user-title {
  font-size: 0.7375rem;
  line-height: 1rem;
}

app-user.size-medium .user-picture {
  height: 2.5rem;
  width: 2.5rem;
}

app-user .user-picture {
  background-color: transparent;
  border: 1px solid #1f1f1f;
}
